.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-container {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
}

.carousel-container img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}